<launch>
    <arg name="mavros_map_frame" default="map"/>
    <arg name="setpoint_acceptance_radius" default="0.5"/>
    <arg name="goal_acceptance_radius" default="2.0"/>
    <arg name="obstacle_dist_threshold" default="2.0"/>
    <arg name="goal_topic" default="/goal_raw"/>
    <arg name="adjust_goal" default="false"/>
    <arg name="adjust_setpoint" default="false"/>
    <arg name="adjust_altitude_volume" default="false"/>
    <arg name="default_alt" default="3.0"/>
    <arg name="do_slam" default="true"/>
    <arg name="planning_horizon" default="6.0"/>
    <arg name="velocity_setpoint_speed" default="0.5"/>
    <arg name="explorable_goals" default="true"/>
    <arg name="num_retries" default="3"/>

    <node pkg="path_manager" exec="path_manager_node" output="screen">
        <param name="mavros_map_frame" value="$(var mavros_map_frame)"/>
        <param name="setpoint_acceptance_radius" value="$(var setpoint_acceptance_radius)"/>
        <param name="goal_acceptance_radius" value="$(var goal_acceptance_radius)"/>
        <param name="obstacle_dist_threshold" value="$(var obstacle_dist_threshold)"/>
        <param name="raw_goal_topic" value="$(var goal_topic)"/>
        <param name="adjust_goal" value="$(var adjust_goal)"/>
        <param name="adjust_setpoint" value="$(var adjust_setpoint)"/>
        <param name="adjust_altitude_volume" value="$(var adjust_altitude_volume)"/>
        <param name="default_alt" value="$(var default_alt)"/>
        <param name="do_slam" value="$(var do_slam)"/>
        <param name="planning_horizon" value="$(var planning_horizon)"/>
        <param name="velocity_setpoint_speed" value="$(var velocity_setpoint_speed)"/>
        <param name="explorable_goals" value="$(var explorable_goals)"/>
        <param name="num_retries" value="$(var num_retries)"/>
    </node>
</launch>