<launch>
    <arg name="mavros_map_frame" default="map"/>
    <arg name="acceptance_radius" default="2.0"/>
    <arg name="obstacle_dist_threshold" default="2.0"/>
    <arg name="cloud_topic" default="/livox/lidar"/>
    <arg name="lidar_type" default="4"/>
    <arg name="goal_topic" default="/goal_raw"/>
    <arg name="adjust_goal" default="false"/>

    <node pkg="path_manager" type="path_manager_node" respawn="false" name="path_manager" output="screen">
        <param name="mavros_map_frame" value="$(arg mavros_map_frame)"/>
        <param name="acceptance_radius" value="$(arg acceptance_radius)"/>
        <param name="obstacle_dist_threshold" value="$(arg obstacle_dist_threshold)"/>
        <param name="cloud_topic" value="$(arg cloud_topic)"/>
        <param name="lidar_type" value="$(arg lidar_type)"/>
        <param name="raw_goal_topic" value="$(arg goal_topic)"/>
        <param name="adjust_goal" value="$(arg adjust_goal)"/>
    </node>
</launch>